@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alexandria';
}

body {
    background-color: black;
}

.conteiner {
    width: 100%;
    height: fit-content;
    padding-bottom: 112px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: 'Alexandria';
    color: white;
    position: relative;
    display: block;
    .cont {

        display: flex;
        align-items: flex-start;

        .aside {
            min-width: 100px;
            max-height: 700px;
            background-color: black;
            padding: 0 34px 75px 34px;
            overflow-y: scroll;
            bottom: 100px;
            overflow-y: scroll;
            position: sticky;
            top: 75px;
            display: flex;
            flex-direction: column;
            align-items: center;

            &::-webkit-scrollbar {
                display: none;
            }

            #pages {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .swap_page {
                    display: block;
                    color: white;
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    filter: invert(50%);
                    cursor: pointer;
                }

                .swap_page_active {
                    filter: invert(0%);

                }
            }

            #playlists {
                height: fit-content;
                display: flex;
                flex-direction: column;
                gap: 30px;
                margin-top: 50px;
                cursor: pointer;

                .playlist {
                    display: block;
                    color: white;
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    filter: invert(50%);
                }

                .playylists {
                    max-height: 260px;
                    display: flex;
                    flex-direction: column;
                    overflow-y: scroll;

                    &::-webkit-scrollbar {
                        display: none;
                    }

                    div {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        gap: 20px;
                        padding: 10px 0;
                        border-bottom: #3E3E3E 1px solid;

                        &:hover {
                            background-color: #3E3E3E;
                        }

                        cursor: pointer;

                        span {
                            color: #909090;
                        }
                    }
                }

                .playlist_active {
                    filter: invert(0%);
                }
            }

            #links {
                display: flex;
                flex-direction: column;
                gap: 20px;
                margin-top: 50px;
                border-top: 1px #282828 solid;
                padding-top: 22px;

                .link {
                    display: block;
                    color: white;
                    filter: invert(50%);
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .user_box {
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 80px;
            width: 100%;
            padding: 0 50px;
            gap: 50px;

            .search_box {
                width: 468px;
                height: 52px;
                background-color: white;
                display: flex;
                align-items: center;
                padding: 0 18px;
                gap: 16px;
                border-radius: 26px;
                margin-left: 30%;

                img {
                    filter: invert(100%);
                }

                .search {
                    all: unset;
                    height: 100%;
                    color: black;
                }
            }

            .user {
                display: flex;
                align-items: center;
                color: white;
                background-color: #121212;
                width: fit-content;
                padding: 3px 12px 3px 3px;
                gap: 12px;
                border-radius: 40px;
            }
        }

        .home_page {
            width: 100%;
            height: 100%;
            background-color: transparent;
            padding: 108px 42px;
            background: linear-gradient(180deg, #3333A3 5.09%, #121212 25.4%);
            display: block;

            .good_afternoon {
                h1 {
                    margin: 30px 0;
                }

                .afternoon_main {

                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-row: 80px;
                    grid-gap: 30px;
                    grid-row-gap: 16px;
                    border-radius: 18px;

                    .afternoon_item {
                        img {
                            width: 20%;
                        }

                        display: flex;
                        align-items: center;
                        gap: 21px;
                        background-color: hsla(0, 0%, 100%, 0.1);
                        border-radius: 8px;

                    }
                }


            }

            .create_recomends {
                margin-top: 50px;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 30px;

                .recomend {
                    display: flex;
                    flex-direction: column;
                    gap: 26px;

                    .logo_recomend {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        span {
                            color:
                                #ADADAD;
                        }
                    }

                    .create_recom {
                        display: grid;
                        grid-template-columns: repeat(5, 1fr);
                        grid-gap: 24px;
                        grid-row: 324px;

                        .recomend_item {
                            background-color: hsla(0, 0%, 100%, 0.04);
                            padding: 21px 0;
                            border-radius: 8px;
                            position: relative;

                            &:hover .play_playlist {
                                display: block;

                            }

                            .play_playlist {
                                width: 30%;
                                height: 20%;
                                background-image: url(../icons/play_green.svg);
                                position: absolute;
                                background-position: center;
                                background-size: cover;
                                top: 45%;
                                right: 10%;
                                transition: 0.3s ease;
                                display: none;

                            }

                            img {
                                width: 100%;
                                cursor: pointer;

                            }

                            h3 {
                                margin-top: 23px;
                            }

                            p {
                                margin-top: 8px;
                                color: #B3B3B3;
                            }
                        }
                    }
                }

            }
        }

        .page_playlist {
            width: 100%;
            height: 100%;
            // margin-left: 350px;
            padding: 108px 50px;
            display: none;
            background: linear-gradient(180deg, #A34284 5.09%, #121212 25.4%);

            .page_playlist_info {
                display: flex;
                gap: 32px;
                margin-bottom: 50px;

                .page_playlist_info_img {
                    width: 310px;
                    height: 297px;

                    img {
                        width: 100%;
                    }
                }

                .page_playlist_info_titlename {
                    // display: flex;
                    flex-direction: column;

                    span {
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 20px;


                    }

                    h1 {
                        font-size: 122px;
                        font-weight: 900;
                        line-height: 154px;

                    }

                    h4 {
                        margin: 12px 0;
                        font-size: 20px;
                        font-weight: 450;
                        line-height: 25px;
                        // opacity: 70%;
                        color: rgba(255, 255, 255, 0.702);

                        .acters_info {
                            color: white;
                            font-size: 20px;

                        }
                    }

                    p {
                        color: rgba(255, 255, 255, 0.702);
                        font-size: 18px;
                        font-weight: 450;
                        display: flex;
                        align-items: center;
                        gap: 7px;

                        .playlist_user_name {
                            color: white;
                            font-size: 18px;
                            font-weight: 450;
                        }

                        .toshka {
                            display: block;
                            width: 5px;
                            height: 5px;
                            border-radius: 100%;
                            background-color: white;
                        }
                    }
                }
            }

            .playlist_options_topside {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .playlist_options_topside_left_items {
                    display: flex;
                    align-items: center;
                    gap: 34px;
                }

                .playlist_options_topside_right_items {
                    display: flex;
                    align-items: center;
                    gap: 35px;

                    select {
                        border: none;
                        background-color: transparent;
                        color: white;
                        display: flex;
                        align-items: center;
                        font-size: 18px;
                        font-weight: 450;
                        line-height: 23px;
                        letter-spacing: -0.01em;

                    }
                }
            }

        }

        .playlist_musics {
            width: 100%;
            height: fit-content;

            table {
                text-align: start;
                width: 100%;
                color: #B3B3B3;

                tr {
                    &:hover {
                        // background-color: rgba(255, 255, 255, 0.279);    
                    }

                    &:hover .liked_music img {
                        display: flex;

                    }

                    &:hover .options img {
                        display: flex;

                    }

                    text-align: start;

                    th:nth-child(4) {
                        padding-right: 20px;
                    }

                    th:nth-child(5) {
                        text-align: center;
                    }

                    th:nth-child(2) {
                        padding-left: 10px;
                    }

                    th:nth-child(1) {
                        padding-left: 10px;
                    }

                    th:nth-child(6) {
                        padding-left: 32px;
                        position: relative;
                    }

                    th {
                        text-align: start;
                        font-size: 16px;
                        font-weight: 450;
                        line-height: 20px;
                        border-bottom: 1px solid #666666;
                        white-space: nowrap;
                        width: fit-content;

                    }

                    .info {
                        display: flex;
                        gap: 21px;
                        align-items: center;

                        img {
                            width: 52px;
                            cursor: pointer;
                        }
                    }

                    .comment {
                        font-size: 18px;
                        font-weight: 450;
                        line-height: 23px;

                    }


                    td {
                        border: none;

                        margin-top: 21px;
                        padding-left: 10px;

                        .music_info {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;

                            .music_name {
                                color: white;
                                font-size: 20px;
                                font-weight: 450;
                                line-height: 25px;

                            }
                        }
                    }

                    th:nth-child(5) {
                        text-align: center;
                        padding: 0;
                    }

                    .liked_music {
                        img {
                            display: none;
                            margin-left: 40%;
                            cursor: pointer;
                        }
                    }

                    .options {
                        position: relative;

                        &:hover .options_box {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            // padding: 5px 0;
                        }

                        &:hover img {

                            filter: invert(100%);

                        }

                        img {
                            width: 22px;
                            display: none;
                            margin: 0 auto;
                            cursor: pointer;
                            filter: invert(50%);

                        }

                        .options_box {
                            position: absolute;

                            background-color: #282828;
                            height: fit-content;
                            width: 150px;
                            left: -150px;
                            top: -50px;
                            border-radius: 4px;
                            display: none;
                            text-align: center;

                            p {
                                &:hover {
                                    background-color: rgba(255, 255, 255, 0.313);
                                }
                            }

                            .options_play {
                                padding: 10px 0;
                                cursor: pointer;
                            }

                            .options_like {
                                border-bottom: 1px #3E3E3E solid;
                                padding: 10px 0;
                                cursor: pointer;

                            }

                            .options_add_playlist {
                                padding: 10px 0;
                                cursor: pointer;
                                border-bottom: 1px #3E3E3E solid;
                            }
                        }
                    }
                }
            }
        }

        .liked_playlist {
            width: 100%;
            height: 100%;
            padding: 108px 42px;
            display: none;
            background: linear-gradient(180deg, #604EC1 8.09%, #121212 25.4%);

            .liked_playlist_info {
                display: flex;
                gap: 32px;
                margin-bottom: 50px;

                .liked_playlist_info_img {
                    width: 310px;
                    height: 297px;

                    img {
                        width: 100%;
                    }
                }

                .liked_playlist_info_titlename {
                    display: flex;
                    flex-direction: column;

                    span {
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 20px;


                    }

                    h1 {
                        font-size: 122px;
                        font-weight: 900;
                        line-height: 154px;

                    }

                    h4 {
                        margin: 12px 0;
                        font-size: 20px;
                        font-weight: 450;
                        line-height: 25px;
                        // opacity: 70%;
                        color: rgba(255, 255, 255, 0.702);

                        .acters_info {
                            color: white;
                            font-size: 20px;

                        }
                    }

                    p {
                        color: rgba(255, 255, 255, 0.702);
                        font-size: 18px;
                        font-weight: 450;
                        display: flex;
                        align-items: center;
                        gap: 7px;

                        .playlist_user_name {
                            color: white;
                            font-size: 18px;
                            font-weight: 450;
                        }

                        .toshka {
                            display: block;
                            width: 5px;
                            height: 5px;
                            border-radius: 100%;
                            background-color: white;
                        }
                    }
                }
            }

            .playlist_options_topside {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .playlist_options_topside_left_items {
                    display: flex;
                    align-items: center;
                    gap: 34px;
                }

                .playlist_options_topside_right_items {
                    display: flex;
                    align-items: center;
                    gap: 35px;

                    select {
                        border: none;
                        background-color: transparent;
                        color: white;
                        display: flex;
                        align-items: center;
                        font-size: 18px;
                        font-weight: 450;
                        line-height: 23px;
                        letter-spacing: -0.01em;

                    }
                }
            }
        }

        .playlist_menu {
            width: 500px;
            height: fit-content;
            position: fixed;
            background-color: #282828;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 50px 20px;
            text-align: start;
            transition: 0.3s ease;
            display: none;
            z-index: 9999;

            h1 {
                color: #00D5C3;
            }

            .create_playlists {
                max-height: 120px;
                margin: 50px 0;
                display: flex;
                flex-direction: column;
                gap: 10px;
                overflow-y: scroll;

                &::-webkit-scrollbar {
                    display: none;
                }

                div {
                    display: flex;
                    justify-content: space-between;
                    gap: 20px;
                    padding: 10px 0;

                    &:hover {
                        background-color: #3E3E3E;
                    }

                    cursor: pointer;

                    span {
                        color: #909090;
                    }
                }

            }

            .add_playlist {
                width: 100%;
                height: fit-content;

                input {
                    all: unset;
                    width: 100%;
                    height: 40px;
                    background-color: #3E3E3E;
                    padding-left: 20px;
                    border-radius: 24px;
                    box-sizing: border-box;
                }

                .add_playlist_btn {
                    all: unset;
                    width: 100%;
                    height: 50px;
                    margin-top: 20px;
                    background-color: #00D5C3;
                    text-align: center;
                    color: black;
                }
            }

            .close_menu {
                width: 32px;
                height: 32px;
                background-image: url(../icons/close_playlist_menu.svg);
                background-position: center;
                background-size: cover;
                position: absolute;
                top: 15px;
                right: 15px;
                filter: invert(100%);
            }
        }
    }

    .bg {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.261);
        display: none;
        z-index: 20;
    }



}